#card_timer {
    background-color: #fff;
    background-clip: border-box;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(96, 134, 181, .3); */
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#card_timer_body {
    font-size: 0;
    padding: 1.25rem;
}

#card_timer_title {
    font-size: 1.5rem;
    margin: 0 0 .75rem;
    text-transform: uppercase;
}

.countdown_section {
    display: inline-block;
    margin-left: 4px;
}

.countdown_section:first-child {
    margin-left: 0;
}

.countdown_section .value {
    background-color: #333;
    border-radius: 10px;
    font-size: 20px;
    color: #ffc107;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 50px;
}

.countdown_label {
    font-size: 15px;
    padding-top: 4px;
    text-align: center;
}
